{
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "amd": true
  },
  "globals": {
    "_x": true,
    "_": true,
    "Q": true
  },
  "rules": {
    "eslint-disable-next-line": "off",
    "no-unused-vars": "off",
    "no-console": "off"
  }
}
