{
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "env": {
    "browser": true,
    "amd": true,
    "worker": true
  },
  "globals": {
    "_x": true,
    "_": true,
    "Q": true,
    "axios": true
  },
  "rules": {
    "no-tabs": 0,
    "no-mixed-spaces-and-tabs": 0,
    "indent": [
      "off",
      "tab"
    ]
  }
}
