{
  "extends": [
    "standard",
    "plugin:lodash/canonical"
  ],
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "env": {
    "browser": true,
    "amd": true,
    "worker": true
  },
  "globals": {
    "_x": true,
    "Q": true,
    "axios": true,
    "_": true,
    "Dexie": true
  },
  "plugins": [
    "lodash"
  ],
  "rules": {
    "no-tabs": 0,
    "no-trailing-spaces": 0,
    "no-mixed-spaces-and-tabs": 0,
    "indent": [
      "off",
      "tab"
    ]
  }
}
